body {
  margin: 0 auto;
}

/* Navbar */

.navbar-brand {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 30px;
  color: #468966;
}

#navbar-register, #navbar-login, #register-modal-button, #login-modal-button {
  background: #79BD8F;
  color: white;
  padding: 8px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  border: 1px solid #79BD8F;
  border-radius: 5px;
  font-size: 15px;
}

#navbar-register:hover, #navbar-login:hover, #register-modal-button:hover, #login-modal-button:hover {
  background: #BEEB9F;
  border: 1px solid #BEEB9F;
}

/* Jumbotron */

.jumbotron {
  background: url(public/wedding_photo1_edited-1.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 20px;
  padding: 50px;
  height: 600px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.jumbotron h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  margin-top: auto;
  color: #79BD8F;
}

.jumbotron p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FF6138;
}

.search {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 300px;
}

#search-input-field {
  padding: 10px;
  font-size: 15px;
}

#search-button {
  padding: 10px;
  color: white;
  background: #FF6138;
  border: 1px solid #FF6138;
  border-radius: 5px;
  font-size: 15px;
}

#search-button:hover {
  background: #FF7B38;
  border: 1px solid #FF7B38;
}

/* Modal Styling */

.modal-content {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.close-modal-button {
  background: #7A7F75;
  color: white;
  padding: 8px;
  border: 1px solid #7A7F75;
  border-radius: 5px;
  font-size: 15px;
}

.close-modal-button:hover {
  background: #9AA194;
  color: white;
  padding: 8px;
  border: 1px solid #9AA194;
  border-radius: 5px;
  font-size: 15px;
}

@media (min-width: 451px) and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 450px) {
  .jumbotron h1 {
    font-size: 45px;
    line-height: 45px;
  }
  .jumbotron p {
    margin-top: 20px;
  }
}

